.image-container {
    position: relative;
    display: inline-block;
}
.slds-card {
    background: linear-gradient(135deg, #19552e, #191414); 
    color: black;
    background-color: black
}



.play-button {
    position: relative;
    top: -91px;
    left: 45px;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.90s linear;
}


.image-container:hover .play-button {
    opacity: 1;
}

.ablumStyle{

        color: green; 
        
}

.ablumStyle:hover{
    color: darkgreen
}

.album-name{
    font-weight: bold;
    color : white;
}

.artist-name{
    font-family: Arial, Helvetica, sans-serif;
    color: white
}

.album-href{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-decoration: underline; 
        cursor: pointer; 
}